.toggle {
  font-family: inherit;
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 30px;
  background: #fff;
  color: #374151;
  cursor: pointer;
}

.toggle:hover {
  background-color: #f4f4f5;
}

.toggleIcon {
  color: #374151;
  width: 16px;
  height: 16px;
}
