.button {
  border: 0;
  display: flex;
  flex: 1;
  padding: .5rem 1rem;
  background: #fff;
  font-family: inherit;
  font-size: inherit;
  color: #374151;
  cursor: pointer;
  text-align: left;
  text-wrap: nowrap;
}

.button:hover {
  background-color: #f4f4f5;
}

.buttonIcon {
  color: #374151;
  width: 16px;
  height: 16px;
  margin-right: .5rem;
}
