.container {
  display: block;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: fit-content;
}

.addSection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
}

.previewSection {
  border: 1px solid #e4e4e7;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
}
