.container {
    padding: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;
    align-items: flex-end;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.formActions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.buttonIcon {
    width: 16px;
    height: 16px;
    margin-right: .5rem;
}
