.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.modal {
  position: absolute;
  z-index: 1;
  top: 0;
  overflow: auto;
  left: 50%;
  transform: translateX(-50%);
}

.form {
  margin: 30px 0;
  padding: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 16px;
  width: fit-content;
  align-items: flex-end;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.formActions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.buttonIcon {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}
